* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(90deg, rgb(220, 220, 88), rgb(239, 79, 218));
}

.container {
    background-color: rgba(242, 243, 244, 0.867);
    display: flex;
    flex-direction: column;
    padding: 10px 50px;
    border-radius: 20px;
    margin: 05% 200px;
}

.success {
    border: 2px solid rgb(33, 236, 33);
}

.error {
    border: 2px solid red;
}

.star {
    color: rgb(157, 2, 2);
}

.title {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 20px;
}

label {
    float: left;
    font-size: 20px;
    margin-bottom: 5px;
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}

.alert {
    color: rgb(207, 39, 39);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    margin-bottom: 5px;
}

input {
    float: left;
    margin-bottom: 5px;
    font-size: 15px;
    padding: 10px 5px;
    border: 2px solid white;
    border-radius: 5px;

}

p {
    font-size: 20px;
    padding: 10px 5px;
}

input.checkbox {
    display: flex;
    flex-direction: column;
    margin: 1.9px 5px;
    width: 40px;
    height: 20px;
    font-size: 18px;
}

.radio,
.radio2 {
    margin: 2px 5px;
    font-size: 18px;
}

.dropdown {
    padding: 10px 5px;
    border: 3px solid white;
    border-radius: 5px;
    font-family: cursive, monospace, sans-serif;
    margin-bottom: 5px;
}

textarea {
    border-radius: 10px;
    border: 2px solid white;
    margin-top: 5px;
    padding: 10px 10px;
    font: 40px;
    font-weight: bold;
    font-family: cursive, monospace, sans-serif;
}

.form-field{
    display: flex;
    flex-direction: column;
}

button {
    padding: 20px 60px;
    margin: 10px 25%;
    display: flex;
    justify-content: center;
    align-content: center;

    border: 3px solid lavender;
    background: rebeccapurple;
    font-size: large;
    font-family: cursive, sans-serif;

}

a {
    text-decoration: none;
    color: aliceblue;
}

button:hover {
    background: rgba(75, 243, 142, 0.75);
}